name: CI

on:
  pull_request:
    branches:
      - staging

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.9"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Check
        run: bun run check

      - name: Typecheck
        run: bun run typecheck

      - name: Test
        run: bun run test
